.activeOpacity {
  transition: opacity .1s ease-out;
}
.activeOpacity:active {
  opacity: 0.8;
}

.button {
  padding: 0.667em 1.5em;
  border: 1px solid currentColor;
  margin: 0;
  background: transparent;
  color: #333;
  border-radius: 2px;
  font: inherit;
  font-weight: 900;
  font-size: 0.667em;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  transition: all 0.08s ease-out;
}
.buttonBlock {
  display: block;
  width: 100%;
}
.button:hover, .button:focus {
  background: #333;
  border-color: #000;
  color: #fff;
}
.button:active {
  background: #000;
  border-color: #000;
  color: #fff;
}

.icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.fadeIn {
  animation: fadeInAnimation 0.5s ease-in;
}
.fadeOut {
  animation: fadeOutAnimation 0.5s ease-in;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
