.sectionsContainer {
  margin: 1em 0;
  user-select: none;
}

.item {
  position: relative;
  padding: 0.5em;
  border: 1px solid transparent;
  border-radius: 2px;
}
.item:hover:not(.target) {
  background: #ccc;
}
.item.dragging {
  color: transparent;
  border-color: #aaa;
  border-style: dashed;
  border-radius: 4px;
  cursor: move;
}

.itemEdit {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5em;
  border: 0;
  margin: 0;
  border-radius: 2px;
  background: #ccc;
  font: inherit;
}

.deleteIcon {
  position: absolute;
  top: 0.25em;
  right: 0.25em;
  padding: 0.25em;
  border: 0;
  margin: 0;
  border-radius: 2px;
  background: transparent;
  font: inherit;
}
.deleteIcon:hover, .deleteIcon:focus {
  background: #333;
  color: white;
}
.item.dragging .deleteIcon {
  display: none;
}

.details {
  text-align: center;
  margin: 1em 2.25em 0;
  font-size: 0.667em;
  color: #555;
}
