.TOKEN_NUMBER {
  color: #8D43B2;
}
.TOKEN_FORMATTING_HINT,
.TOKEN_PERCENTAGE,
.TOKEN_PSEUDO_UNIT,
.TOKEN_UNIT_NAME,
.TOKEN_UNIT_PREFIX,
.TOKEN_UNIT_SUFFIX {
  color: #90B021;
}
.TOKEN_OPERATOR_ADD,
.TOKEN_OPERATOR_DIVIDE,
.TOKEN_OPERATOR_EXPONENT,
.TOKEN_OPERATOR_FACTORIAL,
.TOKEN_OPERATOR_MULTIPLY,
.TOKEN_OPERATOR_NEGATE,
.TOKEN_OPERATOR_SUBTRACT {
  color: #3399DB;
}
.TOKEN_COLOR {
  color: #D45BA0;
}
.TOKEN_DATE_TIME {
  color: #E67F22;
}
.TOKEN_FUNCTION {
  color: #FFA800;
}
.TOKEN_BRACKET_CLOSE,
.TOKEN_BRACKET_OPEN {
  color: #603260;
}
.TOKEN_CONSTANT {
  color: #C1392B;
}
.placeholder {
  color: #888;
}
